@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --primary-color:#047aed;
    --secondary-color:#1c3fa8;
    --dark-color:#002240;
    --light-color:#f4f4f4;
    --success-color:#5cb85c;
    --error-color:#5cb85c;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Lato', sans-serif;
    color:#333;
    line-height:1.6;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
    color:#333;
}
h1,h2{
    font-weight: 300;
    line-height:1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}
img{
    width:100%;
}
code, pre{
    background-color:#333;
    color:#fff;
    padding:10px;
}
/* Navbar styling */
.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}
.navbar ul{
    display: flex;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}
/* Showcase */
.showcase {
    height:400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase h1{
    font-size:40px;   
}
.showcase p{
    margin: 20px 0;
}
.showcase .grid{
    overflow:visible;
    grid-template-columns: 55% auto;
    gap:30px;
}
.showcase-text{
    animation:slideInFromLeft 1s ease-in-out;
    -webkit-animation:slideInFromLeft 1s ease-in-out;
}
.showcase-form{
    position: relative;
    top:60px;
    height:350px;
    width:400px;
    padding:40px;
    z-index: 100;
    animation:slideInFromRight 1s ease-in-out;
    -webkit-animation:slideInFromRight 1s ease-in-out;
}
.showcase-form .form-control{
    margin:30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border:0;
    border-bottom: 2px solid #b4becb;
    width:100%;
    padding:3px;
    font-size:16px;
}
.showcase-form input:focus{
    outline:none;

}
.showcase::before,
.showcase::after{
    content:"";
    position:absolute;
    height:100px;
    bottom: -70px;
    right:0;
    left:0;
    background: #fff;
    transform:skewY(-2deg);
    -webkit-transform:skewY(-2deg);
    -moz-transform:skewY(-2deg);
    -ms-transform:skewY(-2deg);
    -o-transform:skewY(-2deg);
}
/* Showcase */
/* Stats */
.stats{
    padding-top: 100px;
    animation:slideInFromBottom 1s ease-in-out;
    -webkit-animation:slideInFromBottom 1s ease-in-out;
}
.stats-heading{
    max-width: 500px;
    margin: auto;
}
.stats .grid h3{
    font-size:35px;
}
.stats .grid p{
    font-size:20px;
    font-weight:bold;
}
/* Stats */
/* cli */
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid>*:first-child{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;

}
/* cli */
/* Cloud */
.cloud .grid{
    grid-template-columns: 4fr 3fr;
}
/* Cloud */
/* languages */
.languages .flex{
    flex-wrap: wrap;
}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
}
.languages .card h4{
    font-size:20px;
    margin-bottom: 10px;
}
.languages .card:hover{
    transform:translateY(-15px);
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -ms-transform:translateY(-15px);
    -o-transform:translateY(-15px);
}
/* languages */
/* features */
.docs-head img{
    width:200px;
    justify-self: flex-end;
}
.features-head img{
    width:200px;
    justify-self: flex-end;
}
.features-sub-head img{
    width:250px;
    justify-self: flex-end;
}
.features-main .card > i{
    margin-right:20px;
}
.features-main .card > p{
    padding:2px;
}
.features-main .grid{
    padding:30px;
}
.features-main .grid>*:first-child{
    grid-column: 1/span 3;
}
/* Docs */
.docs-main h3{
    margin:20px 0;
}
.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items:flex-start;
}
.docs-main nav li{
    font-size:17px;
    padding-bottom: 5px;
    margin-bottom:5px;
    border-bottom: 1px #ccc solid;
}
.docs-main a:hover{
    font-weight: bold;
}
/* Docs */
.features-main .grid>*:nth-child(2){
    grid-column: 1/span 2;
}
/* features */
/* footer */
.footer .social a{
    margin:0 10px;
}
.footer .social .fab{
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}
.footer .social .fab:hover{
    transform:translateY(-15px);
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -ms-transform:translateY(-15px);
    -o-transform:translateY(-15px);
}
/* Animation */
@keyframes slideInFromLeft {
    0%{
        transform:translateX(-100%)    ;
        -webkit-transform:translateX(-100%)    ;
        -moz-transform:translateX(-100%)    ;
        -ms-transform:translateX(-100%)    ;
        -o-transform:translateX(-100%)    ;
}
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
}
}
@keyframes slideInFromRight {
    0%{
        transform:translateX(-100%)    ;
        -webkit-transform:translateX(-100%)    ;
        -moz-transform:translateX(-100%)    ;
        -ms-transform:translateX(-100%)    ;
        -o-transform:translateX(-100%)    ;
}
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
}
}
@keyframes slideInFromTop {
    0%{
        transform:translateY(-100%)    ;
        -webkit-transform:translateY(-100%)    ;
        -moz-transform:translateY(-100%)    ;
        -ms-transform:translateY(-100%)    ;
        -o-transform:translateY(-100%)    ;
    }
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
}
}
@keyframes slideInFromBottom {
    0%{
        transform:translateX(100%)    ;
        -webkit-transform:translateX(100%)    ;
        -moz-transform:translateX(100%)    ;
        -ms-transform:translateX(100%)    ;
        -o-transform:translateX(100%)    ;
    }
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
    }
}
/* Mobile */
/* tablets and below */
@media(max-width:768px){
    .grid,
    .showcase .grid,
    .cli .grid,
    .cloud .grid
    .features-main .grid, 
    .docs-main .grid{
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
    }
    .showcase{
        height:auto;
    }
    .showcase-text{
        text-align:center;
        margin-top:40px;
    }
    .showcase-form{
        justify-self: center;
        margin: auto;
    }
    .cli .grid>*:first-child{
        grid-column: 1;
        grid-row: 1;
    }
    .features-head,
    .features-sub-head,
    .docs-head{
        text-align: center;

    }
    .features-head img,
    .features-sub-head img,
    .docs-head img{
        justify-self: center;
    }
    .features-main .grid>*:first-child,
    .features-main .grid>*:nth-child(2){
        grid-column: 1;
    }

}
/* mobophones */
@media(max-width:500px){
    .navbar{
        height:110px;
    }
    .navbar .flex{
        flex-direction:column;
    }
    .navbar ul{
        padding:10px;
        background-color: rgba(0,0,0,0.1);
    }

}
